.page-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  text-align: start;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: #555;
}

.load-more-btn {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6d50f2;
  cursor: pointer;
  color: white;
  width: 100%;
  transition: background-color 0.3 ease;
  &:hover {
    background-color: #603ef5;
  }
  &:focus {
    background-color: #7870f0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.logout-button {
  left: 1rem;
  background-color: #ff4d4f;
  color: white;
  border: none;
  width: 60px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 12px;
}

.logout-button:hover {
  background-color: #d9363e;
}

.button-more-users{
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #40b3f5;
  cursor: pointer;
  color: white;
  transition: background-color 0.3 ease;

  &:hover {
    background-color: #1ea4f1;
  }

  &:focus {
    background-color: #0097ee;
  }