.page-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
    gap: 1rem;

    .user-name {
      font-weight: bold;
    }

    .user-email {
      color: #555;
    }
  }
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-more-users {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #40b3f5;
  cursor: pointer;
  color: white;
  transition: background-color 0.3 ease;
  font-size: 1.5rem;

  &:hover {
    background-color: #1ea4f1;
  }

  &:focus {
    background-color: #0097ee;
  }
}

.see-details {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #7356f7;
  cursor: pointer;
  color: white;
  transition: background-color 0.3 ease;
  font-size: 1.5rem;

  &:hover {
    background-color: #603ef5;
  }

  &:focus {
    background-color: #7870f0;
  }
}
