.container-login {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  label {
    display: flex;
    font-weight: 400;
  }

  input {
    border-radius: 2rem;
    height: 2.5rem;
    padding: 0.6em 1.2em;
    border: 1px solid gray;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #6d50f2;
    cursor: pointer;
    color: white;
    width: 100%;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin: 0;
    text-align: end;
  }
}
